*.class
/1TERM/inf2/cv1/HelloWorld/nbproject/private/
/1TERM/inf2/cv1/HelloWorld/build/
/1TERM/inf2/cv2/realne-cislo/nbproject/private/
/1TERM/inf2/cv2/realne-cislo/build/
/1TERM/inf2/cv3/evidencia-studentov/nbproject/private/